<clr-modal [(clrModalOpen)]="opened">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
    <div style="display:flex;flex-direction:row;">
      <form action="">
        <section class="form-block">
          <label>Select Boxes</label>
          <div class="form-group">
            <label for="aForm_1">This is a form field</label>
            <input #input1 type="text" id="aForm_1" placeholder="Enter value here" value="{{translation.from}}" size="45">
        </div>
          <div class="form-group">
            <label for="aForm_1">This is a form field</label>
            <input #input2 type="text" id="aForm_1" placeholder="Enter value here" value="{{translation.to}}" size="45">
        </div>
        </section>
      </form>
      <!-- <div style="display:flex;flex-direction:column;align-self:center;">
        <button class="btn btn-warning" (click)="">
          <i class="fas fa-plus"></i>
        </button>
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit(input1.value, input2.value);">Ok</button>
  </div>
</clr-modal>
<app-alerts></app-alerts>